@mixin fontStyle{
    color: $fontColor;
    text-decoration: none;
    font-family: $mainFont;
}

@mixin h1Style{
    font-family: 'Nunito';
    background-color: $seconColor;
    width: 100%;
    color: white;
    text-decoration: none; 
}

@mixin mainBack {
    background-image:url(../assets/img/mimilusfondobody.png);
    background-repeat: 0;
    background-position: center;
    
}

@mixin footerHover{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

@mixin footerP {
    display: flex;
    justify-content: center;
    font-family: 'nunito';
    color: #FFE8D4;
    padding-bottom: 15px;
    text-align: justify;
    margin: 10px 10px 0px 10px;
}
